.listItem {
}

.ticker {
  font-size: 16px;
  padding: 5px;
  border-radius: 3px;
}

.itemTd {
  background-color: #f00;
  border: 10px solid black;
  text-align: right;
  /* display: flex; */
  /* justify-content: flex-end; */
  /* text-align: right; */
}
